@import "adaptive";
@import "variables";
@media all and (max-width: 1315px) {
  .team__container{
    max-width: 864px;
  }
}
@media all and (max-width: 995px){
  .team__container {
    max-width: 413px;
  }
  .header__main{
    display: none;
  }
  .header__right{
    display: none;
  }
  .adaptive__header{
    display: block;
  }
  .top__text h1{
    padding: 0 30px;
  }
  .logishka{
    display: inline-block;
    width: 80%;
  }
  .top2{
    vertical-align: top;
  }
}